@import '../../styles/variables.scss';
@import '/src/styles/mixins.scss';

#about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    #about-heading {
        margin-bottom: 32px;
        h2 {
            @include highlight;
        }
    }
    h3 {
        @include page-header;
    }
    #about-content {
        display: flex;
        gap: 15px;
        width: clamp(300px, 80vw, 1000px);
        align-items: stretch;
    }
    #profile-picture {
        min-height: 500px;
        width: 100%;
        background-position: center top;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        color: white;
    }
    #profile-text {
        h4 {
            margin: 0;
            font-weight: 500;
        }
    }
    #profile-picture, #profile-text {
        flex: 1;
    }
}